form {
    margin: 20px;
    padding: 10px;
    background-color: #4682b4;
    color: black;
    border: 10px solid;

    fieldset {
      border: 5px dashed;
      .pilot {
        text-align: center;
        font-size: 1.5em;
      }
      div {
        margin: 1rem;
        font-size: 1em;
      }
      .botonEnvio {
        margin-left: 5rem;
        padding: 2rem;
        text-align: right;
      }
    }
  }