.conteiner{
main {
  .cursosTitulo {
    padding: 15px;
    justify-content: center;
    font-size: 1.5em;
    background-color: rgb(185, 184, 184);
    margin: 5rem;
  }

  .mainCursos {
    height: 120rem;
    gap: 20px 30px;
    justify-items: center;
    margin: 1rem;
    list-style-type: none;

    @include grid(
      grid,
      1fr,
      repeat(4, o.1fr),
      "curso1" "curso2" "curso3" "curso4"
    );
    li {
      ul {
        li {
          text-decoration: dashed;
          list-style-type: none;
          margin: 0.3em;
        }
        h3 {
          text-align: center;
          text-decoration: underline;
        }
      }
    }
    .curso1 {
      grid-area: curso1;
      width: 100%;
      border: 2px solid black;
      margin: 2rem;
      h2 {
        text-align: center;
        background-color: rgb(185, 184, 184);
      }
    }

    .curso2 {
      @extend .curso1;
      grid-area: curso2;
    }

    .curso3 {
      @extend .curso1;
      grid-area: curso3;
    }

    .curso4 {
      @extend .curso1;
      grid-area: curso4;
    }
  }
}
}