.conteiner{

footer{
    @include color-font;
  

.redes{
    text-align: center;
    margin: 2rem;

}
.infoFooter{
    text-align: center;
    h4{
        margin: 1rem;
        text-align: center;
        font-size: 1rem;
    }
    h5{
        margin: 1rem;
        text-align: center;
        font-size: 1rem;
    }
}

  

}
}