.conteiner{

footer{
    

    h3{
        margin: 1rem;
        text-align: center;
    }

div{
    text-align: center;
    h4{
        margin: 1rem;
        text-align: center;
    }
}

    p{
        margin: 1rem;
        text-align: center;
        font-size: 17px;
    }

}
}