header{
    .titulo{
        text-align: center;
        margin: 8px;
        font-size: 50px;
        text-decoration: underline;
        padding: 2rem;
    }

    div{
        .nav-background{
            background-color:$color-menu;
        }
    }

}