header{
    background-color: #b9b3b3;
    .titulo{
        background-color:$color-header;
        text-align: center;
        font-size: 50px;
        text-decoration: underline;
        padding: 2rem;
    }

    div{
        .nav-background{
            background-color:$color-menu;
        }

        .imagen{
            transition: 10s;
          }
          .imagen:hover {
            transform: rotate(360deg);
          }
    }

}