.conteiner {
  header {
    .titulo {
      background-color: $color-header;
      text-align: center;
      height: 15rem;
      text-decoration: underline;
      padding: 2rem;
      font-size: 55px;
      color:rgb(9, 9, 66);
      
    }

    div {
      .navbar {
        font-size: 1.5rem;
        color:rgb(9, 9, 66);
        .container {
          div {
            .navbar-nav {
              .nav-item {
                margin: 2rem;
                .rotate {
                  animation: rotation 10s linear;
                }

                @keyframes rotation {
                  from {
                    transform: rotate(0deg);
                  }
                  to {
                    transform: rotate(359deg);
                  }
                }
              }
            }
          }
        }
      }
      .nav-background {
        background-color: $color-menu;
      }

      .imagen {
        transition: 10s;
      }
      .imagen:hover {
        transform: rotate(360deg);
      }
    }
  }
}
