.conteiner{
.menu {
  .parrafo {
    display: none;
    text-align: justify;
    padding: 1rem;
  }
  
  .videos {
    gap: 20px;
    justify-items: center;
    height: 70rem;
    @include grid(grid, 1fr, repeat(3, 1fr), "tituloVideo"
    "video1"
    "video2");
  


    .tituloVideo {
      grid-area: tituloVideo;
      height: 5rem;
      margin: 0.5rem;
      text-align: center;
      font-size: 40px;
      background-color: rgb(185, 184, 184);
    }

    .video1 {
      grid-area: video1;
      height: 20rem;
      margin:0.5rem;
      justify-content: center;
      
    }

    .video2 {
      @extend .video1;
      grid-area: video2;
     
    }
  }
  div{
  .wsp {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

 
}

}