.conteiner {
  .menu {
    .parrafo {
      display: none;
      text-align: justify;
      padding: 1rem;
    }

    .videos {
      margin: 1rem;
      justify-items: center;
      height: 60rem;
      @include grid(grid, 1fr, repeat(3, 1fr), "tituloVideo" "video1" "video2");

      .tituloVideo {
        grid-area: tituloVideo;
        height: 3rem;
        margin: 0.5rem;
        font-size: 40px;
        background-color: rgb(185, 184, 184);
        @include color-font;
      }

      .video1 {
        grid-area: video1;
        height: 25rem;
        margin: 0.5rem;
        justify-content: center;
        width: 100%;
      }

      .video2 {
        @extend .video1;
        grid-area: video2;
      }
    }
  
    .wsp {
      position: fixed;
      bottom: 0;
      right: 0;
    }
  }
}
