@media screen and (min-width: 1000px) {
  .conteiner {
    footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .redes {
        justify-content: center;
        margin-right: 10rem;
        padding-left: 0px;
      }
      .infoFooter {
        justify-content: center;
        margin: 0px;
      }
    }
  }
}
