@media screen and (min-width: 720px) {
  .conteiner{
  .menu {
    .parrafo {
      display: block;
      justify-content: center;
      padding: 10px;
      flex-flow: wrap;

    }

      .videos {
        gap: 2rem;
        justify-items: center;
        margin: 1rem;
        @include grid(grid, 1fr 1fr, repeat(2, 1fr),"tituloVideo tituloVideo"
        "video1 video2");
      }
    }
  }

}