*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import "utilities/variables";
@import "utilities/mixin";
@import "body";
@import "header";
@import "index";
@import "cursos";
@import "paseos_aereos";
@import "nuestraFlota";
@import "contacto" ;
@import "footer";
@import "mediaqueries720";
@import "mediaqueries1024";


